<%- include('../../partials/header'); %>
<%- include('../../partials/navbar'); %>

    <div class="container">

        <div class="card mt-3">
            <div class="card-header">
                <h2>Cadastro de Categorias</h2>
            </div>
            <div class="card-body">
                <form action="/admin/update" method="post">
                    <input type="hidden" name="id" value="<%= categories.id %>">
                    <input class="form-control" type="text" value="<%= categories.title %>" name="title" placeholder="Defina o Titulo da Categoria">
                    <br>
                    <button class="btn btn-success">Update</button>
                </form>
            </div>
            
        </div> 
    </div>

<%- include('../../partials/footer'); %>