<%- include('partials/header'); %>

  <%- include('partials/homenavbar'); %>

    <div class="container">

      <header class=" mt-2">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/img/header/papelaria.jpg" style="height: 300px ;" class="img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/img/header/utilidade.jpg" style="height: 300px ;" class="img-fluid w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/img/header/brinquedos.jpg" style="height: 300px ;" class="img-fluid w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </header>

      <div class=" bg-light rounded-3 mt-2  d-flex justify-content-start align-items-center ">
        <div class="d-flex justify-content-start social_icon me-5">
          <span> <i> <svg width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                <path
                  d="M96 0C43 0 0 43 0 96V416c0 53 43 96 96 96H384h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V384c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H384 96zm0 384H352v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16zm16 48H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16s7.2-16 16-16z" />
              </svg> </i> </span>
          <h5 for="" class="ms-4"> <STRONG>PRODUTOS</STRONG></h5>
        </div>

        <div class="d-flex justify-content-end social_icon">
          <ul class="navbar-nav d-flex flex-row float-start ">
            <li class="nav-item dropdown">
              <a class="nav-link d-flex dropdown-toggle float-start text-black" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <h5 for="" class=""> <STRONG>CATEGORIAS</STRONG></h5>
              </a>
              <ul class="dropdown-menu position-absolute">
                <% categories.forEach(element=> { %>
                  <li><a class="dropdown-item" href="/category/<%= element.slug %>">
                      <%=element.title %>
                    </a></li>
                  <% }); %>

              </ul>
            </li>
          </ul>
        </div>

      </div>

      <hr>

      <div class="">

        <div class="row mt-2">
          <!-- Category Card -->
          <% produtos.forEach(element=> { %>

            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 d-flex aling-itens-stretch mb-3">
              <div class="card  text-center bg-light">
                <a href="" id="favoritar" class="position-absolute right-0 p-2 text-danger">
                  <i class="far fa-heart"></i>
                </a>
                <form action="/produtos/carrinho" method="post">
                  <img class="" height="220 " src="/img/<%= element.image  %> " alt="" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">

                  <div class="card-header">
                    <strong>R$</strong>
                    <%= element.preco %>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= element.title %>
                    </h5>
                  </div>
                  <div class="card-footer">

                    <% if(element.estoque <=0) {%>
                      <div>
                        <button class="btn btn-light disable" disabled>
                          <small>Reabastencendo Estoque</small>
                        </button>
                        <small class="text-danger"><b>Produto Esgotado</b></small>
                      </div>
                      <% } else{ %>
                        <button class="btn btn-danger" > Adicionar ao
                          Carrinho </button>

                        <small class="text-success">Estoque Disponivel</b></small>
                        <% } %>


                </form>



              </div>
            </div>
        </div>
        <% }); %>

      </div>

    </div>


    <nav aria-label="Page navigation al-center example">
      <ul class="pagination mt-3">
        <li class="page-item">

          <a class="page-link" href="/produtos/page/1" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

    </div>




    <%- include('partials/footer'); %>