<%- include('../../partials/header'); %>
  <%- include('../../partials/navbar'); %>


    <div class="container">

      <div class=" bg-light rounded-3 mt-3 p-2">
        <div class="d-flex justify-content-start social_icon">
          <span> <i> <svg width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                <path
                  d="M96 0C43 0 0 43 0 96V416c0 53 43 96 96 96H384h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V384c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H384 96zm0 384H352v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16zm16 48H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16s7.2-16 16-16z" />
              </svg> </i> </span>
          <h5 for="" class="ms-4"> <STRONG>PRODUTOS</STRONG></h5>
        </div>
        <div class="d-flex justify-content-start social_icon mt-3">
          <a class="btn btn-success" href="/admin/produtos/new">Cadastrar Novo Produto</a>
        </div>
      </div>

      <table class="table mt-3">
        <thead>
          <tr class="bg-light">
            <th scope="col">Fotos</th>
            <th scope="col">Codigo</th>
            <th scope="col">Nome</th>
            <th scope="col">Preço</th>
            <th scope="col">Estoque</th>
            <th scope="col">Categoria</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
          <% produtos.forEach(produto=>{ %>

            <tr>
              <td scope="row"> <img src="/img/<%= produto.image %> " width="100" height="100"> </td>
              <td >
                <%= produto.codigo %>
              </td>
              <td>
                <%= produto.title %>
              </td>
              <td>
                R$ <%= produto.preco %>
              </td>
              <td>
               <%= produto.estoque %>
              </td>
              <td>
                <%= produto.category.title %>    
              </td>
              <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a href="/admin/produto/edit/<%=produto.id %>" class="btn btn-warning">Editar</a>
                  <form method="POST" action="/produtos/delete" onsubmit="activeDel(event, this)">
                    <input type="hidden" name="id" value="<%= produto.id %>">
                    <button class="btn btn-danger">DELETE</button>
                  </form>
                </div>
              </td>
            </tr>
            <% }) %>

        </tbody>
      </table>
    </div>

    <%- include('../../partials/footer'); %>